src/main/mule/poc_nisc_service_delivery_acs_system_api_v4.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="poc_nisc_service_delivery_acs_system_api_v4-main">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="poc_nisc_service_delivery_acs_system_api_v4-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" config-ref="poc_nisc_service_delivery_acs_system_api_v4-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="82ea22c5-32ed-4f89-a434-ae88f612dd88">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   error:{
      errors:[
         {
            id:"400",
            code:"ERR400",
            status:"400",
            title:"Bad Request",
            detail:"The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modifications.",
            href:"https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html"
         }
      ]
   }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="30800142-bd9a-43de-bb20-53db64713c61">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   error:{
      errors:[
         {
            id:"404",
            code:"ERR404",
            status:"404",
            title:"Not Found",
            detail:"The server has not found anything matching the Request-URI.",
            href:"https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html"
         }
      ]
   }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="516310da-ba7a-490a-9842-20d5cfd11764">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   error:{
      errors:[
         {
            id:"405",
            code:"ERR405",
            status:"405",
            title:"Method Not Allowed",
            detail:"The method specified in the Request-Line is not allowed for the resource identified by the Request-URI. The response MUST include an Allow header containing a list of valid methods for the requested resource.",
            href:"https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html"
         }
      ]
   }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="a53bcf02-56b3-4cf7-89e4-14812af2b4cb">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   error:{
      errors:[
         {
            id:"406",
            code:"ERR406",
            status:"406",
            title:"Not Acceptable",
            detail:"The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request.",
            href:"https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html"
         }
      ]
   }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="939cbc89-a601-41f2-966d-b6e402afcf8e">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   error:{
      errors:[
         {
            id:"415",
            code:"ERR415",
            status:"415",
            title:"Unsupported Media Type",
            detail:"The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.",
            href:"https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html"
         }
      ]
   }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="ANY" enableNotifications="true" logException="true">
                <logger level="ERROR" doc:name="Logger" doc:id="10fb1cfd-8440-43c2-a4c3-e0c81c15b7be" message="CHECK: #[error]"/>
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="3334e940-d113-4b23-b54f-941458697826">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   error:{
      errors:[
         {
            id:"500",
            code:"ERR500",
            status:"500",
            title:"Internal Server Error",
            detail:error.detailedDescription,
            href:"https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html"
         }
      ]
   }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[500]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\service\order\(id):application\json:poc_nisc_service_delivery_acs_system_api_v4-config">
        <flow-ref doc:name="setOrderIdVaribleFromURIId" doc:id="73ee762b-52d9-4bbd-99c8-9d738f194220" name="setOrderIdVaribleFromURIId" />
		<flow-ref doc:name="updateServiceOrderById" doc:id="a0a09f8f-7dd1-404b-bea8-d0e85bb20552" name="updateServiceOrderById"/>
    </flow>
    <flow name="delete:\service\order\(id):poc_nisc_service_delivery_acs_system_api_v4-config">
        <flow-ref doc:name="setOrderIdVaribleFromURIId" doc:id="e4e05a8a-c8f5-4b27-988b-92c8a02c3dc9" name="setOrderIdVaribleFromURIId"/>
        <flow-ref doc:name="deleteServiceOrderById" doc:id="056f8596-04ec-428b-82ce-45dc22f46763" name="deleteServiceOrderById"/>
		<set-payload value="#[null]" doc:name="Set null Payload" doc:id="c40dbf6e-c85b-4b5f-8c28-2645db6007b2" />
        <logger level="INFO" message="delete:\service\order\(id):poc_nisc_service_delivery_acs_system_api_v4-config" />
    </flow>
    <flow name="get:\service\order:poc_nisc_service_delivery_acs_system_api_v4-config">
        <flow-ref doc:name="getAllServiceOrderByFilters" doc:id="81177e1d-735e-4d2a-9e72-0019d3a3c99a" name="getAllServiceOrderByFilters"/>
    </flow>
    <flow name="get:\service\order\(id):poc_nisc_service_delivery_acs_system_api_v4-config">
        <flow-ref doc:name="setOrderIdVaribleFromURIId" doc:id="56a2e28c-ce8e-4856-8502-c9e06eb5c781" name="setOrderIdVaribleFromURIId"/>
        <flow-ref doc:name="getServiceOrderById" doc:id="2b098a81-e56b-4470-ad27-12f0831a953b" name="getServiceOrderById"/>
    </flow>
    <flow name="post:\service\order:application\json:poc_nisc_service_delivery_acs_system_api_v4-config">
        <flow-ref doc:name="createAServiceOrderToProcess" doc:id="86e6d8cb-eaf2-4100-abe1-c05fea6d2e84" name="createAServiceOrderToProcess"/>
    </flow>
    <sub-flow name="setOrderIdVaribleFromURIId" doc:id="f3b744cd-3ab7-4b9e-9203-83c3454cdba8" >
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="c60eb949-6a60-4266-a620-f6020505dce2">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.id]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
</mule>
